##############################################
# GLOBAL DEFAULT
##############################################

# You own everything
* @lordmage

##############################################
# CORE SCRIPT (MOST IMPORTANT FILE)
##############################################

# Main userscript – require trusted reviewers
* @lordmage 
